USE [master]
GO
/****** Object:  Database [ShopGiayDB]    Script Date: 5/4/2026 3:28:32 PM ******/
CREATE DATABASE [ShopGiayDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopGiayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopGiayDB]
GO
/****** Object:  Table [dbo].[Address_Book]    Script Date: 5/4/2026 3:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address_Book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[receiver_name] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[full_address] [nvarchar](max) NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[logo_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_id] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[variant_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[expires_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Profile]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Profile](
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[dob] [date] NULL,
	[shoe_size_preference] [decimal](4, 1) NULL,
	[reward_points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Transaction]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Transaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[variant_id] [int] NULL,
	[user_id] [int] NULL,
	[type] [nvarchar](50) NOT NULL,
	[quantity_change] [int] NOT NULL,
	[ref_id] [int] NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [varchar](50) NOT NULL,
	[customer_id] [int] NULL,
	[employee_id] [int] NULL,
	[promotion_id] [int] NULL,
	[type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[shipping_fee] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[final_amount] [decimal](18, 2) NOT NULL,
	[customer_note] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[customer_phone] [varchar](20) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[return_reason] [nvarchar](max) NULL,
	[return_type] [nvarchar](50) NULL,
	[return_details] [nvarchar](max) NULL,
	[exchange_info] [nvarchar](max) NULL,
	[staff_id] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[delivered_at] [datetime] NULL,
	[payment_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[variant_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[method] [nvarchar](50) NULL,
	[transaction_id] [varchar](100) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[brand_id] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[slug] [varchar](250) NOT NULL,
	[description] [nvarchar](max) NULL,
	[base_price] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
	[gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_url] [nvarchar](max) NOT NULL,
	[is_primary] [bit] NULL,
	[display_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Review]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[order_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[image_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[variant_info] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Variant]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Variant](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[sku_code] [varchar](100) NOT NULL,
	[size] [decimal](4, 1) NOT NULL,
	[color] [nvarchar](50) NULL,
	[stock_quantity] [int] NULL,
	[weight_grams] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile_Update_Request]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile_Update_Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[password_hash] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[min_order_value] [decimal](18, 2) NULL,
	[max_discount_amount] [decimal](18, 2) NULL,
	[usage_limit] [int] NULL,
	[current_usage] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Order]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NULL,
	[created_by] [int] NULL,
	[status] [nvarchar](50) NULL,
	[total_cost] [decimal](18, 2) NULL,
	[expected_delivery_date] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase_Order_Item]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase_Order_Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[po_id] [int] NULL,
	[variant_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[unit_cost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return_Request]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return_Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[customer_id] [int] NULL,
	[handled_by] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[refund_amount] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[customer_id] [int] NULL,
	[order_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[is_edited] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[permissions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[address_id] [int] NULL,
	[carrier] [nvarchar](100) NULL,
	[tracking_code] [varchar](100) NULL,
	[weight_grams] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping_Review]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping_Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[order_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[contact_info] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](max) NOT NULL,
	[phone] [varchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[full_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([id], [name], [logo_url]) VALUES (1, N'Adidas', NULL)
INSERT [dbo].[Brand] ([id], [name], [logo_url]) VALUES (2, N'Asics', NULL)
INSERT [dbo].[Brand] ([id], [name], [logo_url]) VALUES (3, N'Birkenstock', NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [user_id], [session_id], [updated_at]) VALUES (8, 64, NULL, CAST(N'2026-04-21T14:21:01.747' AS DateTime))
INSERT [dbo].[Cart] ([id], [user_id], [session_id], [updated_at]) VALUES (9, 44, NULL, CAST(N'2026-04-22T09:02:59.387' AS DateTime))
INSERT [dbo].[Cart] ([id], [user_id], [session_id], [updated_at]) VALUES (10, 34, NULL, CAST(N'2026-04-30T19:06:38.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [parent_id], [name], [slug]) VALUES (6, NULL, N'Sneaker', N'sneaker')
INSERT [dbo].[Category] ([id], [parent_id], [name], [slug]) VALUES (7, NULL, N'Running', N'running')
INSERT [dbo].[Category] ([id], [parent_id], [name], [slug]) VALUES (8, NULL, N'Sandal & Clog', N'sandal-clog')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customer_Profile] ([user_id], [full_name], [dob], [shoe_size_preference], [reward_points]) VALUES (34, N'Phan Nguyễn Yến Trinh', NULL, NULL, 0)
INSERT [dbo].[Customer_Profile] ([user_id], [full_name], [dob], [shoe_size_preference], [reward_points]) VALUES (35, N'Soundavong Cho', NULL, NULL, 0)
INSERT [dbo].[Customer_Profile] ([user_id], [full_name], [dob], [shoe_size_preference], [reward_points]) VALUES (36, N'Homnabounlath Hutsany', NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([id], [order_id], [variant_id], [quantity], [unit_price], [subtotal]) VALUES (1, 6, 285, 5, CAST(21000000.00 AS Decimal(18, 2)), CAST(105000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Detail] ([id], [order_id], [variant_id], [quantity], [unit_price], [subtotal]) VALUES (2, 7, 93, 4, CAST(5200000.00 AS Decimal(18, 2)), CAST(20800000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order_Detail] ([id], [order_id], [variant_id], [quantity], [unit_price], [subtotal]) VALUES (3, 8, 133, 1, CAST(25000000.00 AS Decimal(18, 2)), CAST(25000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [order_id], [method], [transaction_id], [amount], [status], [paid_at]) VALUES (1, 8, N'Thanh toán khi nhận hàng (COD)', NULL, CAST(37500000.00 AS Decimal(18, 2)), N'Hoàn thành', CAST(N'2026-04-25T14:54:12.277' AS DateTime))
INSERT [dbo].[Payment] ([id], [order_id], [method], [transaction_id], [amount], [status], [paid_at]) VALUES (2, 7, N'Chuyển khoản / Ví điện tử', NULL, CAST(20800000.00 AS Decimal(18, 2)), N'Hoàn thành', CAST(N'2026-04-25T14:54:23.390' AS DateTime))
INSERT [dbo].[Payment] ([id], [order_id], [method], [transaction_id], [amount], [status], [paid_at]) VALUES (3, 9, N'Chuyển khoản / Ví điện tử', NULL, CAST(0.00 AS Decimal(18, 2)), N'Hoàn thành', CAST(N'2026-04-28T10:48:42.197' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [category_id], [brand_id], [name], [slug], [description], [base_price], [status], [gender]) VALUES (1, NULL, 8, N'Nike Air Force 1 ''07', N'nike-air-force-1-07', N'Biểu tượng văn hóa đại chúng.', CAST(2939000.00 AS Decimal(18, 2)), N'Selling', N'Nam')
INSERT [dbo].[Product] ([id], [category_id], [brand_id], [name], [slug], [description], [base_price], [status], [gender]) VALUES (2, NULL, 1, N'Adidas Ultraboost Light', N'adidas-ultraboost-light', N'Đệm Boost êm ái nhất.', CAST(5200000.00 AS Decimal(18, 2)), N'Selling', N'Nữ')
INSERT [dbo].[Product] ([id], [category_id], [brand_id], [name], [slug], [description], [base_price], [status], [gender]) VALUES (3, NULL, 6, N'Crocs Classic Clog', N'crocs-classic-clog', N'Thoải mái và bền bỉ.', CAST(1290000.00 AS Decimal(18, 2)), N'Selling', N'Unisex')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Review] ON 

INSERT [dbo].[Product_Review] ([id], [user_id], [product_id], [order_id], [rating], [comment], [image_url], [created_at], [variant_info]) VALUES (1, 64, 45, 10, 5, N'Sản phẩm oke, chất lượng.', NULL, CAST(N'2026-04-30T20:20:52.177' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product_Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Variant] ON 

INSERT [dbo].[Product_Variant] ([id], [product_id], [sku_code], [size], [color], [stock_quantity], [weight_grams]) VALUES (1, 1, N'NK-AF1-38-W', CAST(38.0 AS Decimal(4, 1)), N'Trắng (White)', 15, 0)
INSERT [dbo].[Product_Variant] ([id], [product_id], [sku_code], [size], [color], [stock_quantity], [weight_grams]) VALUES (2, 1, N'NK-AF1-39-W', CAST(39.0 AS Decimal(4, 1)), N'Trắng (White)', 13, 0)
INSERT [dbo].[Product_Variant] ([id], [product_id], [sku_code], [size], [color], [stock_quantity], [weight_grams]) VALUES (3, 1, N'NK-AF1-40-W', CAST(40.0 AS Decimal(4, 1)), N'Trắng (White)', 13, 0)
GO
SET IDENTITY_INSERT [dbo].[Product_Variant] OFF
GO
SET IDENTITY_INSERT [dbo].[Profile_Update_Request] ON 

INSERT [dbo].[Profile_Update_Request] ([id], [user_id], [full_name], [email], [phone], [password_hash], [status], [created_at]) VALUES (1, 44, N'Trần Kim Lanh', N'102240145@sv1.dut.udn.vn', N'0383667173', N'102240145', N'Approved', CAST(N'2026-04-30T19:44:46.060' AS DateTime))
INSERT [dbo].[Profile_Update_Request] ([id], [user_id], [full_name], [email], [phone], [password_hash], [status], [created_at]) VALUES (2, 44, N'Trần Kim Lanh', N'102240145@sv1.dut.udn.vn', N'0383667173', N'102240145', N'Approved', CAST(N'2026-05-01T20:14:28.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[Profile_Update_Request] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([id], [code], [type], [discount_value], [min_order_value], [max_discount_amount], [usage_limit], [current_usage], [start_date], [end_date]) VALUES (1, N'TEST1775085343923', N'PERCENT', CAST(15.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 100, 1, CAST(N'2026-04-02T06:15:43.923' AS DateTime), CAST(N'2026-05-02T06:15:43.923' AS DateTime))
INSERT [dbo].[Promotion] ([id], [code], [type], [discount_value], [min_order_value], [max_discount_amount], [usage_limit], [current_usage], [start_date], [end_date]) VALUES (2, N'WELCOME10', N'PERCENT', CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), 1000, 0, CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Promotion] ([id], [code], [type], [discount_value], [min_order_value], [max_discount_amount], [usage_limit], [current_usage], [start_date], [end_date]) VALUES (3, N'SNEAKER20', N'PERCENT', CAST(20.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 500, 0, CAST(N'2026-04-01T00:00:00.000' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name], [permissions]) VALUES (1, N'Admin', N'["ALL"]')
INSERT [dbo].[Role] ([id], [name], [permissions]) VALUES (2, N'Manager', N'["PRODUCT","INVENTORY","EMPLOYEE"]')
INSERT [dbo].[Role] ([id], [name], [permissions]) VALUES (3, N'Staff', N'["PRODUCT","INVENTORY"]')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipping_Review] ON 

INSERT [dbo].[Shipping_Review] ([id], [user_id], [order_id], [rating], [comment], [created_at]) VALUES (1, 64, 10, 5, N'Tuyệt vời, giao hàng nhanh chóng, an toàn.', CAST(N'2026-04-30T20:20:52.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipping_Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [role_id], [email], [password_hash], [phone], [status], [created_at], [full_name]) VALUES (34, 4, N'102230221@sv1.dut.udn.vn', N'102230221', N'0789695329', N'Active', CAST(N'2026-04-02T23:23:51.990' AS DateTime), N'Phan Nguyễn Yến Trinh')
INSERT [dbo].[User] ([id], [role_id], [email], [password_hash], [phone], [status], [created_at], [full_name]) VALUES (35, 4, N'102230406@sv1.dut.udn.vn', N'102230406', N'0886044354', N'Active', CAST(N'2026-04-02T23:23:51.990' AS DateTime), N'Soundavong Cho')
INSERT [dbo].[User] ([id], [role_id], [email], [password_hash], [phone], [status], [created_at], [full_name]) VALUES (36, 4, N'102230407@sv1.dut.udn.vn', N'102230407', N'0886237164', N'Active', CAST(N'2026-04-02T23:23:51.990' AS DateTime), N'Homnabounlath Hutsany')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__32DD1E4CB78D8AD4]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Category_Slug]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UQ_Category_Slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Order__99D12D3FE4A363C7]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Order] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Order_Code]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [UQ_Order_Code] UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__32DD1E4C7743F302]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Product_Slug]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [UQ_Product_Slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product___843F428F49D71AE9]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Product_Variant] ADD UNIQUE NONCLUSTERED 
(
	[sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProductVariant_SKU]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Product_Variant] ADD  CONSTRAINT [UQ_ProductVariant_SKU] UNIQUE NONCLUSTERED 
(
	[sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__357D4CF9A0062790]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Promotion] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Promotion_Code]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [UQ_Promotion_Code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164271A69CA]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Email]    Script Date: 5/4/2026 3:28:33 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address_Book] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Cart_Item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Customer_Profile] ADD  DEFAULT ((0)) FOR [reward_points]
GO
ALTER TABLE [dbo].[Inventory_Transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('Selling') FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('Unisex') FOR [gender]
GO
ALTER TABLE [dbo].[Product_Image] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Product_Image] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[Product_Review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product_Variant] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Product_Variant] ADD  DEFAULT ((0)) FOR [weight_grams]
GO
ALTER TABLE [dbo].[Profile_Update_Request] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Profile_Update_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [current_usage]
GO
ALTER TABLE [dbo].[Purchase_Order] ADD  DEFAULT ('Draft') FOR [status]
GO
ALTER TABLE [dbo].[Purchase_Order] ADD  DEFAULT ((0)) FOR [total_cost]
GO
ALTER TABLE [dbo].[Purchase_Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Return_Request] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Return_Request] ADD  DEFAULT ((0)) FOR [refund_amount]
GO
ALTER TABLE [dbo].[Return_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [is_edited]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Shipping] ADD  DEFAULT ('Picking') FOR [status]
GO
ALTER TABLE [dbo].[Shipping_Review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Address_Book]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Address_Book]  WITH CHECK ADD  CONSTRAINT [FK_Address_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Address_Book] CHECK CONSTRAINT [FK_Address_User]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Cart]
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Cart_Item] CHECK CONSTRAINT [FK_CartItem_Variant]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[Customer_Profile]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Customer_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Customer_Profile] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InvTrans_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InvTrans_User]
GO
ALTER TABLE [dbo].[Inventory_Transaction]  WITH CHECK ADD  CONSTRAINT [FK_InvTrans_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Inventory_Transaction] CHECK CONSTRAINT [FK_InvTrans_Variant]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Promotion]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Staff]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_OrderDetail_Variant]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Image] CHECK CONSTRAINT [FK_Image_Product]
GO
ALTER TABLE [dbo].[Product_Review]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Review]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Product_Variant]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Variant]  WITH CHECK ADD  CONSTRAINT [FK_Variant_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_Variant] CHECK CONSTRAINT [FK_Variant_Product]
GO
ALTER TABLE [dbo].[Profile_Update_Request]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order]  WITH CHECK ADD  CONSTRAINT [FK_PO_Creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order] CHECK CONSTRAINT [FK_PO_Creator]
GO
ALTER TABLE [dbo].[Purchase_Order]  WITH CHECK ADD  CONSTRAINT [FK_PO_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[Supplier] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order] CHECK CONSTRAINT [FK_PO_Supplier]
GO
ALTER TABLE [dbo].[Purchase_Order_Item]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[Purchase_Order] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order_Item]  WITH CHECK ADD FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_POItem_PO] FOREIGN KEY([po_id])
REFERENCES [dbo].[Purchase_Order] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order_Item] CHECK CONSTRAINT [FK_POItem_PO]
GO
ALTER TABLE [dbo].[Purchase_Order_Item]  WITH CHECK ADD  CONSTRAINT [FK_POItem_Variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[Product_Variant] ([id])
GO
ALTER TABLE [dbo].[Purchase_Order_Item] CHECK CONSTRAINT [FK_POItem_Variant]
GO
ALTER TABLE [dbo].[Return_Request]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Return_Request]  WITH CHECK ADD FOREIGN KEY([handled_by])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Return_Request]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Return_Request]  WITH CHECK ADD  CONSTRAINT [FK_Return_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Return_Request] CHECK CONSTRAINT [FK_Return_Customer]
GO
ALTER TABLE [dbo].[Return_Request]  WITH CHECK ADD  CONSTRAINT [FK_Return_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Return_Request] CHECK CONSTRAINT [FK_Return_Order]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[Address_Book] ([id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address_Book] ([id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Address]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Order]
GO
ALTER TABLE [dbo].[Shipping_Review]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Product_Variant]  WITH CHECK ADD CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Purchase_Order_Item]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ClearExpiredCart]    Script Date: 5/4/2026 3:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo Máy Hút Bụi (Stored Procedure): Tự động trả kho và xóa hàng hết hạn
CREATE   PROCEDURE [dbo].[sp_ClearExpiredCart]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Trả lại số lượng tồn kho cho các đôi giày bị giam quá 5 phút
    UPDATE pv
    SET pv.stock_quantity = pv.stock_quantity + ci.quantity
    FROM [dbo].[Product_Variant] pv
    JOIN [dbo].[Cart_Item] ci ON pv.id = ci.variant_id
    JOIN [dbo].[Cart] c ON ci.cart_id = c.id
    WHERE ci.expires_at IS NOT NULL 
      AND ci.expires_at <= GETDATE() 
      AND c.user_id IS NOT NULL; -- (Chỉ áp dụng cho user đã đăng nhập)

    -- Đuổi các món hàng đó ra khỏi giỏ
    DELETE ci
    FROM [dbo].[Cart_Item] ci
    JOIN [dbo].[Cart] c ON ci.cart_id = c.id
    WHERE ci.expires_at IS NOT NULL 
      AND ci.expires_at <= GETDATE() 
      AND c.user_id IS NOT NULL;
END
GO
USE [master]
GO

ALTER TABLE [dbo].[User] ADD [avatar_url] [varchar](max) NULL;
GO
